A = LeftClick
B = Back
X = RightClick
Y = OpenOSK

DPadLeft = Left
DPadRight = Right
DPadUp = Up
DPadDown = Down

Start = VolumeUp
Back = VolumeDown

LeftShoulder = AltTab
RightShoulder = Enter

LeftTrigger = ZoomOut
RightTrigger = ZoomIn